body{
    background-image: linear-gradient(black,rgb(0, 0, 43),black);
}

iframe{
    width: 800px;
    height: 500px;
    margin: 150px 250px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
iframe:hover{
    transform: translateY(-6px);
    box-shadow: 0 0 100px rgba(56, 189, 248, 0.500);
}

@media(max-width:768px) {
    iframe{
        background-size: cover;
        background-position: center;
        width: 1000px;
        margin: 350px 130px 0;
        height: 650px;
        border-radius: 50px;
        
    }
}
@media (max-width: 900px){
  iframe{
    width: calc(100% - 32px);
    height: 60vh;
    margin: 80px 16px;
    border-radius: 18px;
  }
}

@media (max-width: 600px){
  iframe{
    height: 65vh;
    margin-top: 60px;
  }
}
