body{
    background-color: black;
    margin: 0px;
}
.title{
    text-shadow: 0px 0px 6px rgb(110, 197, 221);
}
#hero{
    font-family: "Orbitron", sans-serif;
    font-size: 35px;
    font-weight: 500px;
    font-style: normal;
    color: #005389ff;
    background-image: url("imageDePprojetCc3/giphy.gif");
    background-size: cover;
    text-align: center;
    padding: 20px 0px 200px 0px ;
}
#spaceX{
    width: 300px;
}
#mission1{
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
    gap: 14px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 700;
    font-size: 20px;
    border: 6px solid rgb(67, 67, 75);
    border-radius: 15px;
    padding: 30px 40px 50px 40px;
    box-shadow: 0 0 95px rgba(130, 138, 141, 0.671);
}
.img1{
    width: 98%;
    height: 400px;
    background-image: url(imageDePprojetCc3/Moon_Landing_GIF_by_MOODMAN.gif);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-left: 13px;
}
.date1{
    border: 6px solid rgb(67, 67, 75);
    border-radius: 15px;
    background-color: rgb(45, 45, 53);
    justify-content: center;
}
.description1{
    border: 6px solid rgb(67, 67, 75);
    border-radius: 15px;
    padding: 30px 90px;
    background-color: rgb(45, 45, 53);
}
#mission2{
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
    gap: 14px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 700;
    font-size: 20px;
    border: 6px solid rgb(67, 67, 75);
    border-radius: 15px;
    padding: 30px 40px 50px 40px;
    box-shadow: 0 0 95px rgba(130, 138, 141, 0.671);
}
.img2{
    width: 98%;
    height: 400px;
    background-image: url(imageDePprojetCc3/hubble_telescope.gif);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-left: 13px;
}
.date2{
    border: 6px solid rgb(67, 67, 75);
    border-radius: 15px;
    background-color: rgb(45, 45, 53);
    justify-content: center;
}
.description2{
    border: 6px solid rgb(67, 67, 75);
    border-radius: 15px;
    padding: 30px 90px;
    background-color: rgb(45, 45, 53);
}
#mission3{
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
    gap: 14px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 700;
    font-size: 20px;
    border: 6px solid rgb(94, 152, 179);
    border-radius: 15px;
    padding: 30px 40px 50px 40px;
    box-shadow: 0 0 95px rgba(94, 152, 179, 0.671);
}
.img3{
    width: 98%;
    height: 400px;
    background-image: url(imageDePprojetCc3/ISS.gif.gif);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-left: 13px;
}
.date3{
    border: 6px solid rgb(94, 152, 179);
    border-radius: 15px;
    background-color: rgb(36, 82, 119);
    justify-content: center;
}
.description3{
    border: 6px solid rgb(94, 152, 179);
    border-radius: 15px;
    padding: 30px 90px;
    background-color: rgb(36, 82, 119);
}
#mission4{
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
    gap: 14px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 700;
    font-size: 20px;
    border: 6px solid rgb(207, 108, 27);
    border-radius: 15px;
    padding: 30px 40px 50px 40px;
    box-shadow: 0 0 95px rgba(204, 132, 49, 0.671);
}
.img4{
    width: 98%;
    height: 400px;
    background-image: url(imageDePprojetCc3/Mars_Curiosity_Rover.gif);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-left: 13px;
}
.date4{
    border: 6px solid rgb(207, 108, 27);
    border-radius: 15px;
    background-color: rgb(204, 132, 49);
    justify-content: center;
}
.description4{
    border: 6px solid rgb(207, 108, 27);
    border-radius: 15px;
    padding: 30px 90px;
    background-color: rgb(204, 132, 49);
}
#mission5{
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
    gap: 14px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 700;
    font-size: 20px;
    border: 6px solid rgb(134, 106, 28);
    border-radius: 15px;
    padding: 30px 40px 50px 40px;
    box-shadow: 0 0 95px rgba(224, 189, 74, 0.671);
}
.img5{
    width: 98%;
    height: 400px;
    background-image: url(imageDePprojetCc3/james_web_telescope.gif);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-left: 13px;
}
.date5{
    border: 6px solid rgb(134, 106, 28);
    border-radius: 15px;
    background-color: rgb(224, 189, 74);
    justify-content: center;
}
.description5{
    border: 6px solid rgb(134, 106, 28);
    border-radius: 15px;
    padding: 30px 90px;
    background-color: rgb(224, 189, 74);
}
#mission6{
    font-family: "Orbitron", sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
    gap: 14px;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 700;
    font-size: 20px;
    border: 6px solid rgb(67, 67, 75);
    border-radius: 15px;
    padding: 30px 40px 50px 40px;
    box-shadow: 0 0 95px rgba(130, 138, 141, 0.671);
}
.img6{
    width: 98%;
    height: 400px;
    background-image: url(imageDePprojetCc3/voyager_1.gif);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-left: 13px;
}
.date6{
    border: 6px solid rgb(67, 67, 75);
    border-radius: 15px;
    background-color: rgb(45, 45, 53);
    justify-content: center;
}
.description6{
    border: 6px solid rgb(67, 67, 75);
    border-radius: 15px;
    padding: 30px 90px;
    background-color: rgb(45, 45, 53);
}
footer{
    color: white;
    font-family: serif
}
#footer1{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    color: white;
}
#footer3{
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
}
.social{
    width: 40px;
    height: 40px;
}
.tpam{
    margin-left: 130px;
    word-spacing: 30px;
}
hr{
    width: 82%;
}