body{
    background-color: black;
    margin: 0px;
    font-family: "Orbitron", sans-serif;
}
.home-link{
  display: inline-flex;
  align-items: center;             
  color: #4fc3ff;
  text-decoration: none;
  font-weight: 600;
}

.home-text{
  font-size: 18px;
}

.home-icon{
  width: 26px;
  height: 26px;
  margin: 10px;
}

.home-link:hover{
  text-shadow: 0 0 8px rgba(79,195,255,0.8);
}

.title{
    text-shadow: 0px 0px 6px rgb(110, 197, 221);
}
#hero{
    font-size: 35px;
    font-weight: 500px;
    font-style: normal;
    color: #005389ff;
    background-image: url("imageDePprojetCc3/giphy.gif");
    background-size: cover;
    text-align: center;
    padding: 20px 0px 200px 0px ;
}
#spaceX{
    width: 300px;
}
#technologies{
    background-image: linear-gradient(black, rgb(0, 0, 54),black);
}
.technologie1{
    width: 85%;
    min-height: 600px;
    margin: 0 auto;
    border: 5px solid #2d479b;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
.pic1{
    width: 40%;
    background-color: rgba(5, 11, 26, 0.35);
    background-image: url(imageDePprojetCc3/rocket.jpg);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-position: center;
    background-size: cover;
}
.text1{
    padding: 40px 60px;
    background: linear-gradient(180deg, #0a264b, #000000);
    width: 60%;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 65);
}
.title1{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #005389ff;
    padding-bottom: 40px;
    border-bottom:5px solid rgb(47, 68, 145) ;
    border-radius: 10px;
}
.descr1{
    color: #005389ff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.technologie2{
    width: 85%;
    min-height: 600px;
    margin: 200px auto;
    border: 5px solid #2d479b;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
}
.pic2{
    width: 40%;
    background-color: rgba(5, 11, 26, 0.35);
    background-image: url(imageDePprojetCc3/satelite.avif);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-position: center;
    background-size: cover;
}
.text2{
    padding: 40px 60px;
    background: linear-gradient(180deg, #0a264b, #000000);
    width: 60%;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 65);
}
.title2{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #005389ff;
    padding-bottom: 40px;
    border-bottom:5px solid rgb(47, 68, 145) ;
    border-radius: 10px;
}
.descr2{
    color: #005389ff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.technologie3{
    width: 85%;
    min-height: 600px;
    margin: 200px auto;
    border: 5px solid #2d479b;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
.pic3{
    width: 40%;
    background-color: rgba(5, 11, 26, 0.35);
    background-image: url(imageDePprojetCc3/spacetele.webp);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-position: center;
    background-size: cover;
}
.text3{
    padding: 40px 60px;
    background: linear-gradient(180deg, #0a264b, #000000);
    width: 60%;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 65);
}
.title3{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #005389ff;
    padding-bottom: 40px;
    border-bottom:5px solid rgb(47, 68, 145) ;
    border-radius: 10px;
}
.descr3{
    color: #005389ff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.technologie4{
    width: 85%;
    min-height: 600px;
    margin: 200px auto;
    border: 5px solid #2d479b;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
}
.pic4{
    width: 40%;
    background-color: rgba(5, 11, 26, 0.35);
    background-image: url(imageDePprojetCc3/robotic.jpg);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-position: center;
    background-size: cover;
}
.text4{
    padding: 40px 60px;
    background: linear-gradient(180deg, #0a264b, #000000);
    width: 60%;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 65);
}
.title4{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #005389ff;
    padding-bottom: 40px;
    border-bottom:5px solid rgb(47, 68, 145) ;
    border-radius: 10px;
}
.descr4{
    color: #005389ff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.technologie5{
    width: 85%;
    min-height: 600px;
    margin: 200px auto;
    border: 5px solid #2d479b;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}
.pic5{
    width: 40%;
    background-color: rgba(5, 11, 26, 0.35);
    background-image: url(imageDePprojetCc3/suits.jpg);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    background-position: center;
    background-size: cover;
}
.text5{
    padding: 40px 60px;
    background: linear-gradient(180deg, #0a264b, #000000);
    width: 60%;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 65);
}
.title5{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #005389ff;
    padding-bottom: 40px;
    border-bottom:5px solid rgb(47, 68, 145) ;
    border-radius: 10px;
}
.descr5{
    color: #005389ff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}


footer{
    margin-top: 200px;
    color: white;
    font-family: serif
}
#footer1{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    color: white;
}
#footer3{
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
}
.social{
    width: 40px;
    height: 40px;
}
.tpam{
    word-spacing: 30px;
}
hr{
    height: 3px;
    width: 100%;
    background-color: white;
}
.footer-title{
    background-color: black;
    border: none;
    color: white;
    margin-bottom: 50px;
    
}
.copyright {
    text-align: start;
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.socials{
    float: right;
}

@media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        
        text-align: center;
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    
    }

    h2 {
        display: block;
        width: 100%;
        margin: 40px auto 20px auto;
        text-align: center;
    }



    h3 {
        font-size: 16px;
        
    }

    #cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .cards1_2,
    .cards3_4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        width: 90%;
        margin: 0 auto;
        min-height: 220px;
        text-align: center;
    }

    h2 {
        margin-top: 40px;
        font-size: 28px;
        margin-right: 75px;
    }

    button.btn {
        width: 60%;
        height: 60px;
        
        margin: 20px auto;
        display: flex;
    }
    .home-link{
        margin-right: 10px;
    }
}
/* ===== Responsive technologies content (ADD) ===== */
@media (max-width: 900px){
  #hero{
    padding: 20px 0 140px;
    font-size: 28px;
  }
  #spaceX{ width: 220px; }

  /* Stack each technology row */
  .technologie1,.technologie2,.technologie3,.technologie4,.technologie5{
    flex-direction: column;
    width: 92%;
    min-height: 0;
    margin: 60px auto;
    overflow: hidden;
  }

  .pic1,.pic2,.pic3,.pic4,.pic5{
    width: 100%;
    height: 260px;
    border-radius: 15px 15px 0 0;
  }

  .text1,.text2,.text3,.text4,.text5{
    width: 100%;
    padding: 26px 18px;
  }

  .title1,.title2,.title3,.title4,.title5{
    font-size: 24px;
    padding-bottom: 18px;
  }

  .descr1,.descr2,.descr3,.descr4,.descr5{
    font-size: 17px;
    line-height: 1.5;
  }
}

@media (max-width: 600px){
  .pic1,.pic2,.pic3,.pic4,.pic5{ height: 210px; }
  .title1,.title2,.title3,.title4,.title5{ font-size: 21px; }
}
