body{
    background-color: black;
    color: #005389ff;
    font-family: "Orbitron" , sans-serif;
}
.home-link{
  display: inline-flex;
  align-items: center;
  gap: 8px;             
  color: #4fc3ff;
  text-decoration: none;
  font-weight: 600;
}

.home-text{
  font-size: 18px;
}

.home-icon{
  width: 26px;
  height: 26px;
}

.home-link:hover{
  text-shadow: 0 0 8px rgba(79,195,255,0.8);
}


h1{
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
    text-shadow: 0px 0px 5px rgb(110, 197, 221);
}
h3{
    font-style: italic;
    text-align: center;
    margin-top: 70px;
}
.cards1_2{
    display: flex;
    justify-content: space-around;
    
}
.card1{
    border:  4px solid rgb(0, 0, 50);
    border-radius: 30px;
    width: 400px;
    height: 400px;
    padding:10px 30px;
    background-image: url(imageDePprojetCc3/gravity_solar_system_GIF.gif);
    background-size: cover;
    
}
.card1{
    background-position: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card1:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 100px rgba(56, 189, 248,0.671);
}
.card2{
    border:  4px solid rgb(0, 0, 50);
    border-radius: 30px;
    width: 400px;
    height: 400px;
    padding:10px 30px;
    background-image: url(imageDePprojetCc3/floating_astonaute.gif);
    background-size: cover;
    background-position: end;
}
.card2{
    background-position: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card2:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 100px rgba(56, 189, 248,0.671);
}
.cards3_4{
    display: flex;
    justify-content: space-around;
}
.card3{
    border:  4px solid rgb(0, 0, 50);
    border-radius: 30px;
    width: 400px;
    height: 400px;
    padding:10px 30px;
    background-image: url(imageDePprojetCc3/space_station.gif);
    background-size: cover;
    background-position: center;
}
.card3{
    background-position: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card3:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 100px rgba(56, 189, 248,0.671);
}
.card4{
    border:  4px solid rgb(0, 0, 50);
    border-radius: 30px;
    width: 400px;
    height:400px;
    padding:10px 30px;
    background-image: url(imageDePprojetCc3/Space_Voyager_GIF_by_NASA.gif);
    background-size: cover;
    background-position: center;
}
.card4{
    background-position: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card4:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 100px rgba(56, 189, 248, 0.671);
}
.card1text{
    color: white;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    /* background-color: rgba(0, 0, 0, 0.493); */
    font-weight: 700;
    background-size: cover;
    text-align: center;
    transition: transforme 0.3s ease;
}
.card1:hover .card1text {
    transform: translateY(-4px);
}
.card2:hover .card2text {
    transform: translateY(-4px);
}
.card3:hover .card3text {
    transform: translateY(-4px);
}
.card4:hover .card4text {
    transform: translateY(-4px);
}
a{
    text-decoration: none;
}
.card2text{
    color: white;
    background-color: rgba(0, 0, 0, 0.089);
    background-size: cover;
    text-align: center;
    transition: transforme 0.3s ease;
    font-weight: 700;
}
.card3text{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    font-weight: 900;
    background-size: cover;
    text-align: center;
    transition: transforme 0.3s ease;
}
.card4text{
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 15px rgb(255, 244, 244);
    font-weight: 900;
    background-size: cover;
    text-align: center;
    transition: transforme 0.3s ease;
}
.card1text h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #e5f2ff;
}
.card2text h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #e5f2ff;
    text-shadow: 0px 0px 15px white;
}
.card3text h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #e5f2ff;
}
.card4text h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #000000;
}
h2{
    margin-top: 200px;
    margin-left: 495px;
    font-size: 30px;
    word-spacing: 10px;
}
.btn{
    font-family: "Orbitron", sans-serif;
    margin-left: 550px;
    margin-top: 20px;
    margin-bottom: 300px;
    align-items: center;
    background-image: linear-gradient(144deg, #001449, #100079 50%, #002896);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1.5em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:active,
.btn:hover {
    outline: 0;
    transform: translateY(-6px);
    color: white;
}

.btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.btn:hover span {
  background: none;
}

.btn:active {
  transform: scale(0.9);
}


footer{
    margin-top: 200px;
    color: white;
    font-family: serif
}
#footer1{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    color: white;
}
#footer3{
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
}
.social{
    width: 40px;
    height: 40px;
}
.tpam{
    word-spacing: 30px;
}
hr{
    height: 3px;
    width: 100%;
    background-color: white;
}
.footer-title{
    background-color: black;
    border: none;
    color: white;
    margin-bottom: 50px;
    
}
.copyright {
    text-align: start;
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.socials{
    float: right;
}

@media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        
        text-align: center;
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    
    }

    h2 {
        display: block;
        width: 100%;
        margin: 40px auto 20px auto;
        text-align: center;
    }



    h3 {
        font-size: 16px;
        
    }

    #cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .cards1_2,
    .cards3_4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        width: 90%;
        margin: 0 auto;
        min-height: 220px;
        text-align: center;
    }

    h2 {
        margin-top: 40px;
        font-size: 28px;
        margin-right: 75px;
    }

    button.btn {
        width: 60%;
        height: 60px;
        
        margin: 20px auto;
        display: flex;
    }
    .home-link{
        margin-right: 10px;
    }
}
@media (max-width: 900px){
  h1{ font-size: 32px; }
  .cards1_2{ flex-direction: column; gap: 90px; }
  .card1, .card2{ width: 92%; height: auto; }
  .cards3_4{ flex-direction: column; gap: 90px;}
  .card3, .card4{ width: 92%; height: auto; }
}

@media (max-width: 600px){
  h1{ font-size: 26px; }
  .card1, .card2{ padding: 16px 16px; }
  .card3, .card4{ padding: 16px 16px; }
}
