body{
    margin: 0px;
    background-color: black;
}
#hero{
    font-family: "Orbitron", sans-serif;
    font-size: 35px;
    font-weight: 500px;
    font-style: normal;
    color: #005389ff;
    background-image: url("imageDePprojetCc3/giphy.gif");
    background-size: cover;
    text-align: center;
    padding: 20px 0px 200px 0px ;
}
.btn{
    font-family: "Orbitron", sans-serif;
    margin-left: 590px;
    margin-top: 200px;
    align-items: center;
    background-image: linear-gradient(144deg, #001449, #100079 50%, #002896);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1.5em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:active,
.btn:hover {
    outline: 0;
    transform: translateY(-6px);
}

.btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.btn:hover span {
  background: none;
}

.btn:active {
  transform: scale(0.9);
}

#spaceX{
    width:300px;
}
h1{
    text-shadow: 0px 0px 7px rgb(110, 197, 221);
}
h3{
    color:  #005389ff;
    display: flex;
    justify-content: center;
    font-size:  30px;
    font-family: "Orbitron", sans-serif;
}
.welcoming{
    margin-top: 100px;
}
.lien_des_conditions{
    text-decoration: none;
    color: #005389ff;
}
#section2{
    background-image: linear-gradient( black,#00010f, #000000);
    /* background: linear-gradient(rgb(0, 0, 5),black); */
    color: #005389ff;
    font-family: "Orbitron",sans-serif;
    font-weight: 800;
    font-size: 19px;
    padding-bottom: 200px;
}
.para1section2{
    margin: 0px 260px;
    border: 6px solid rgb(0, 0, 75);
    border-radius: 15px;
    padding: 35px 95px;
    background-color: rgb(3, 3, 31);
    box-shadow: 0 0 95px rgba(56, 189, 248, 0.25);
}
.para2section2{
    margin: 110px 260px;
    border: 6px solid rgb(0, 0, 75);
    border-radius: 15px;
    padding: 35px 95px;
    background-color: rgb(3, 3, 31);
    box-shadow: 0 0 95px rgba(56, 189, 248, 0.25);
}

footer{
    color: white;
}
#footer1{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
.tpam{
    margin-left: 130px;
    word-spacing: 30px;
}
#footer3{
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
}
.social{
    width: 40px;
    height: 40px;
}
hr{
    width: 82%;
}